.w-15{
    width: 15%;
}

.h-12{
    height: 12%;
}

.fw-bold-500{
    font-weight: 500;
}

.fw-bold-600{
    font-weight: 600;
}

.bg-fill-white{
    fill: white;
}

.animation-contact{
    transition: all 0.4s ease;  
}

.animation-contact:hover{
    transform: translateY(-4px);
}

.animate-contact-img{
    width: 75%;
    transition: all 0.4s ease;
}

.animation-contact:hover .animate-contact-img{
    width: 80%;
}
